# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
venv311/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset besar
data/data_optimal_encoded/
data/Movies_and_TV_5.json
data/meta_Movies_and_TV.json
data/matched_amazon_reviews.jsonl
data/encoded_amazon_vectors.csv
data/scaled_encoded_amazon_vectors.csv
data/encoded_amazon_vectors_new.csv
data/sample_qi_vectors.csv

scripts/testrandom.ipynb

# MacOS
.DS_Store

# Log dan cache 
*.log
