# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset besar
data/Movies_and_TV_5.json
data/meta_Movies_and_TV.json
data/matched_amazon_reviews.jsonl
data/encoded_amazon_vectors.csv

# MacOS
.DS_Store

# Log dan cache 
*.log
